.style-switcher {
    position: fixed;
    right: -20px;
    top: 30px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
    opacity: 0.6;
}
.style-switcher.open {
    transform: translateX(-25px);
}
.style-switcher:hover {
    opacity: 1;
}
.style-switcher .s-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    background-color: var(--text-black-900);
    right: 100px;
    border-radius: 50%;
    border: solid 1px black;
    margin-right: 125px;
    cursor: pointer;
    transition: all 0.3s ease;
} 

.style-switcher .day-night {
    top: 55px;
} 
.style-switcher .day-night.dark {
    background-color: white;
}
 .style-switcher .day-night.light {
    background-color: black;
}
.style-switcher .style-switcher-toogler {
    top: 0px;
}
.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.style-switcher .colors .color-1{
    background-color: #ec1839;
}
.style-switcher .colors .color-2{
    background-color: #fa5b0f;
}
.style-switcher .colors .color-3{
    background-color: #37b182;
}
.style-switcher .colors .color-4{
    background-color: #1854b4;
}
.style-switcher .colors .color-5{
    background-color: #f021b2;
}